<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:ic="http://ivyteam.ch/jsf/component"
  xmlns:p="http://primefaces.org/ui">

<!--
In the interface it is possible to define view attributes like labels.
This attributes can be accessed by the el expression cc.attrs.attributeName.
-->
<cc:interface componentType="IvyComponent">
  <cc:attribute name="employee" />
  <cc:attribute name="headerDialog" />
  <cc:attribute name="isApprove" />
  <cc:attribute name="btnAdd" shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
  <cc:attribute name="btnUpdate"
    shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
  <cc:attribute name="btnDelete"
    shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
</cc:interface>
<cc:implementation>

  <div class="ui-g-3">
    <p:outputLabel value="#{ivy.cms.co('/Label/name')}" for="nameEmp" />
  </div>

  <div class="ui-g-9 ui-fluid">
    <p:inputText id="nameEmp" value="#{cc.attrs.employee.name}" readonly="#{cc.attrs.isApprove}" />
  </div>

  <div class="ui-g-3">
    <p:outputLabel value="#{ivy.cms.co('/Label/age')}" for="ageEmp" />
  </div>

  <div class="ui-g-9 ui-fluid">
    <p:inputText id="ageEmp" value="#{cc.attrs.employee.age}" type="number" readonly="#{cc.attrs.isApprove}" />
  </div>

  <div class="ui-g-3">
    <p:outputLabel value="#{ivy.cms.co('/Label/team')}" for="teamEmp" />
  </div>

  <div class="ui-g-9 ui-fluid">
    <p:autoComplete id="teamEmp" value="#{cc.attrs.employee.team}" forceSelection="true" completeMethod="#{autoComplete.completeText}"  readonly="#{cc.attrs.isApprove}"
      scrollHeight="250" />
  </div>

  <div class="ui-g-6"></div>
  <div class="ui-g-6">

 <p:button  value="#{ivy.cms.co('/ButtonLabel/btnCancel')}" onclick="PF('employeeDialog').hide();return false;"  />
     <p:button  value="#{ivy.cms.co('/ButtonLabel/btnOk')}" onclick="PF('employeeDialog').hide();return false;" style="float:right; width:70px" rendered="#{cc.attrs.isApprove}"  />



    <p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnOk')}" rendered="#{cc.attrs.headerDialog eq 'Update information' and !cc.attrs.isApprove}"
      actionListener="#{cc.attrs.btnUpdate}" update="@form" validateClient="true" style="float:right; width:70px" />

    <p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnOk')}" rendered="#{cc.attrs.headerDialog eq 'Add new employee' and !cc.attrs.isApprove}"
      actionListener="#{cc.attrs.btnAdd}" update="@form" validateClient="true" style="float:right; width:70px" />





    <p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnOk')}" rendered="#{cc.attrs.headerDialog eq 'Delete employee' and !cc.attrs.isApprove}"
      actionListener="#{cc.attrs.btnDelete}" update="@form" style="float:right; width:70px" />


  </div>

</cc:implementation>

</html>