<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/TaskTemplate-8.xhtml">
		<ui:param name="processChainShape" value="LINE"></ui:param>
		<ui:param name="actualStepIndex" value="#{data.actualCurrentIndex}"></ui:param>
		<ui:param name="steps" value="#{data.steps}"></ui:param>
			<ui:param name="direction" value="VERTICAL"></ui:param>
		

		<ui:define name="title">#{data.isDetails ? ivy.cms.co("/Title/detailPageTitle"): ivy.cms.co("/Title/promoteFormTitle")}</ui:define>
		<ui:define name="content">
			<h1>&#160;#{ivy.cms.co("/Label/headerForm")} <p:outputLabel rendered="#{data.isDetails}">#{ivy.cms.co("/Label/requestDetailsCase")} (# #{data.form.caseId})</p:outputLabel></h1> 
			<h3> <p:outputLabel rendered="#{data.isDetails}">#{ivy.cms.co("/Label/state")} #{data.state}</p:outputLabel></h3>
			<p:growl id="growl" showDetail="true" />
			<h:form id="promoteForm">

				<p:messages id="promoteMsg"></p:messages>
				<!-- No 'form field [app.Employee]' template found for field 'employee'. -->
				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/creator')}"
						for="creator" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:inputText value="#{data.form.creator}" id="creator"
						required="true"
						requiredMessage="#{ivy.cms.co('/Message/creatorRequiredMsg')}"
						readonly="#{data.isApprove}" />
				</div>
				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/dateSubmit')}"
						for="submitDate" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:calendar mask="true" id="submitDate" pattern="dd/MM/yyyy"
						required="true"
						requiredMessage="#{ivy.cms.co('/Message/dateSubmitRequiredMsg')}"
						value="#{data.form.dateSubmit}" effect="fade" showOn="both"
						disabled="#{data.isApprove}" autocomplete="off" />
				</div>

				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/comment')}"
						for="comment" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:inputTextarea id="comment" required="true"
						requiredMessage="#{ivy.cms.co('/Message/commentRequiredMsg')}"
						value="#{data.form.comment}" readonly="#{data.isApprove}" />
				</div>
			</h:form>
			<!-- <ic:app.EmployeeDialogComponent   /> -->

			<h1>#{ivy.cms.co("/Label/headerOfTable")}</h1>
			<h:form id="tableForm">
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-panelgrid-blank" rendered="#{!data.isDetails and !data.isApprove}">
					<p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnAdd')}"
						icon="fa fa-plus" actionListener="#{logic.addNew}"
						style="float: right;" oncomplete="PF('employeeDialog').show()"
						update="employeeDialog" >
						<p:resetInput target="employeeDialog" />
					</p:commandButton>
				</p:panelGrid>
				<p:panelGrid style="margin-top: 20px" rendered="#{data.isDetails}" />

				<p:dataTable border="1" var="employee" value="#{data.listEmployee}"
					id="table">
					<p:column headerText="#{ivy.cms.co('/headerTable/name')}" id="name"
						filterBy="#{employee.name}" sortBy="#{employee.name}">
						<h:outputText id="text3" value="#{employee.name}"></h:outputText>
					</p:column>
					<p:column id="age" sortBy="#{employee.age}"
						headerText="#{ivy.cms.co('/headerTable/age')}"
						filterBy="#{employee.age}">
						<h:outputText id="text4" value="#{employee.age}"></h:outputText>
					</p:column>
					<p:column id="column5"
						headerText="#{ivy.cms.co('/headerTable/team')}"
						filterBy="#{employee.team}" sortBy="#{employee.team}">
						<h:outputText id="text5" value="#{employee.team}"></h:outputText>
					</p:column>
					<p:column id="column4" rendered="#{!data.isDetails and !data.isApprove}"
						headerText="#{ivy.cms.co('/headerTable/action')}">
						<p:commandLink value="#{ivy.cms.co('/cmdLink/linkEdit')}"
							actionListener="#{logic.preEdit(employee)}" update="employeeDialog"
							oncomplete="PF('employeeDialog').show()" />
						<p:spacer width="10" height="10" />
						<p:commandLink value="#{ivy.cms.co('/cmdLink/linkDelete')}"
							rendered="#{!data.isApprove}"
							actionListener="#{logic.preDelete(employee)}">
							<p:confirm
								header="#{ivy.cms.co('/Label/HeaderDialog/headerConfirm')}"
								message="#{ivy.cms.co('/Message/deleteConfirmMsg')}"
								icon="ui-icon-alert" />
						</p:commandLink>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							responsive="true" width="350">
							<p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnNo')}"
								type="button" styleClass="ui-confirmdialog-no ui-button-flat" />
							<p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnYes')}"
								type="button" styleClass="ui-confirmdialog-yes" />
						</p:confirmDialog>
					</p:column>
				</p:dataTable>
			</h:form>
			<h:form id="feedbackForm" rendered="#{!data.isDetails}">
				<div style="margin-top: 20px">

					<div class="ui-g-3">
						<p:outputLabel value="#{ivy.cms.co('/Label/feedBack')}"
							for="feedback" rendered="#{data.isApprove}" />
					</div>
					<div class="ui-g-9 ui-fluid">
						<p:inputTextarea id="feedback" required="true"
							rendered="#{data.isApprove}" />
					</div>
				</div>
			</h:form>

			<div >
				<div class="ui-g-12 ui-fluid">
				<p:commandButton style=" float: right; width: 100px;"
						value="#{ivy.cms.co('/ButtonLabel/btnOk')}"
						actionListener="#{logic.SubmitForm}" form="promoteForm"
						update="promoteForm" rendered="#{!data.isApprove and !data.isDetails}" />
					<p:commandButton style=" float: right; width: 100px;"
						value="#{ivy.cms.co('/ButtonLabel/btnOk')}"
						actionListener="#{logic.SubmitForm}" form="feedbackForm"
						update="promoteForm" rendered="#{data.isApprove and !data.isDetails}" />
						
					<p:commandButton style=" float:right; width: 100px;"
						value="#{ivy.cms.co('/ButtonLabel/btnCancel')}"
						actionListener="#{logic.BackToTaskList}" form="promoteForm"
						update="promoteForm"  rendered="#{data.isApprove and !data.isDetails}"/>
				
					<p:commandButton style=" float:right; width: 100px;"
						value="#{ivy.cms.co('/ButtonLabel/btnCancel')}"
						actionListener="#{logic.close}" 
	 rendered="#{data.isDetails}" />
				
				</div>
			</div>



			<!-- Dialog -->
			<p:dialog header="#{data.headerDialog}" widgetVar="employeeDialog"
				minHeight="40" width="450" showEffect="fade" modal="true"
				id="employeeDialog" rendered="#{!data.isDetails}">

				<h:form id="employee">
					<p:messages id="dialogMsg">
					</p:messages>
					<ic:app.EmployeeComponent startMethod="start"
						employee="#{data.employee}" headerDialog="#{data.headerDialog}"
						btnAdd="#{logic.isAdd}" btnUpdate="#{logic.isUpdate}"
						isApprove="#{data.isApprove}" />
				</h:form>

			</p:dialog>
		</ui:define>
	</ui:composition>
</h:body>

</html>