<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/basic-8.xhtml">
		<ui:define name="title">SubProcess</ui:define>
		<ui:define name="content">

			<h3>
			This is an <a href="https://developer.axonivy.com/doc/latest/designer-guide/user-interface/user-dialogs.html#html-dialogs">Html Dialog</a> 
			implemented with JSF and <a href="http://primefaces.org/">Primefaces</a> as widget library
			</h3>

			<h:form id="form">
				<p:messages />
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
					columnClasses="ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4, 
						ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4">
					<p:outputLabel value="Name" for="name" />
					<p:inputText id="name" value="#{data.employee.name}" />
					<p:outputLabel value="Age" />
					<p:inputText id="age"  value="#{data.employee.age}" />
					<p:outputLabel value="Team"  />
					<p:inputText id="team"  value="#{data.employee.team}" />

					<!-- No 'form field [entity.Employee]' template found for field 'subProcessData.employee'. -->

				</p:panelGrid>
				<br />
				<div class="command-btns">
					<p:commandButton id="proceed" actionListener="#{logic.close}" value="Proceed" update="form" icon="ui-icon-check" />
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>