<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:ic="http://ivyteam.ch/jsf/component"
  xmlns:p="http://primefaces.org/ui"
  xmlns:pe="http://primefaces.org/ui/extensions"
>
  <h:head>
    <f:attribute name="primefaces.THEME" value="basic-8" />
    <title>ClientSideValidation</title>
  </h:head>
  <h:body>
    <ui:composition template="/layouts/basic-8.xhtml">
      <ui:define name="title">outCus</ui:define>
      <ui:define name="content">
        <h3>
          This is an
          <a
            href="https://developer.axonivy.com/doc/latest/designer-guide/user-interface/user-dialogs.html#html-dialogs"
            >Html Dialog</a
          >
          implemented with JSF and
          <a href="http://primefaces.org/">Primefaces</a>
          as widget library
        </h3>
        <p:growl id="growl" showDetail="true" />
        <p:commandButton
          value="Add New Customer"
          icon="fa fa-plus"
          actionListener="#{logic.create}"
          oncomplete="PF('dialog-common').show()"
          update="dialog-common"
        />

        <p:dataTable
          border="1"
          var="row"
          value="#{data.customers}"
          id="table"
          rows="10"
          paginator="true"
          paginatorPosition="bottom"
          paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                       {PreviousPageLink} 
                       {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
          currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
          rowsPerPageTemplate="5,10,{ShowAll|'All'}"
          editable="true"
          editMode="cell"
          editInitEvent="dblclick"
          emptyMessage="No customers found with given criteria"
          filteredValue="#{data.customers}"
        >

          <p:column headerText="Id" sortBy="#{row.id}">
            <h:outputText value="#{row.id}"></h:outputText>
          </p:column>
          <p:column headerText="Name" sortBy="#{row.name}">
            <p:cellEditor>
              <f:facet name="output">
                <h:outputText value="#{row.name}"></h:outputText>
              </f:facet>
              <f:facet name="input">
                <p:inputText value="#{row.name}" style="width: 100%" />
              </f:facet>
            </p:cellEditor>
          </p:column>
          <p:column headerText="Age" sortBy="#{row.age}">
            <p:cellEditor>
              <f:facet name="output">
                <h:outputText value="#{row.age}"></h:outputText>
              </f:facet>
              <f:facet name="input">
                <p:inputText
                  id="modelInput3"
                  value="#{row.age}"
                  style="width: 100%"
                />
              </f:facet>
            </p:cellEditor>
          </p:column>
          <p:column headerText="Address" sortBy="#{row.address}">
            <h:outputText value="#{row.address}"></h:outputText>
          </p:column>
          <p:column headerText="Acction">
            <h:form>
              <p:commandButton
                styleClass="ui-button-danger"
                icon="fa fa-times"
                onclick="PF('delete-confirm').show()"
                actionListener="#{logic.delete(row.id)}"
              >
              </p:commandButton>
              <p:commandButton
                icon="ui-icon-pencil"
                actionListener="#{logic.preUpdate(row)}"
                oncomplete="PF('dialog-common').show()"
                update="dialog-common growl"
              />
            </h:form>
            <!-- delete dialog -->
            <p:dialog
              header="Please confirm your action"
              widgetVar="delete-confirm"
              minHeight="40"
              width="350"
              showEffect="fade"
              modal="true"
            >
              <h:form id="form2">
                <h:panelGrid
                  columns="2"
                  cellpadding="4"
                  columnClasses="label-top"
                  id="Person"
                >
                  <f:facet name="footer">
                    <p:button value="No" styleClass="ui-button-flat p-mr-2" />
                    <p:commandButton
                      value="Yes"
                      oncomplete="PF('delete-confirm').hide()"
                      actionListener="#{logic.isConfirm}"
                      update="table growl"
                    />
                  </f:facet>
                </h:panelGrid>
              </h:form>
            </p:dialog>
          </p:column>
        </p:dataTable>
        <!-- add dialog -->
        <p:dialog
          header="#{data.actionName}"
          widgetVar="dialog-common"
          minHeight="40"
          id="dialog-common"
          width="350"
          showEffect="fade"
          modal="true"
          closeOnEscape="true"
        >
          <h:form id="form">
            <h:panelGrid columns="1">
              <p:outputLabel
                for="personName"
                value="Name"
                style="font-size: 10pt"
              />
              <p:inputText
                id="personName"
                value="#{data.customer.name}"
                type="text"
                required="true"
                style="width: 280px"
              >
                <f:validateRegex
                  pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
                />
                <p:clientValidator event="keyup" />
                <p:clientValidator event="blur" />
              </p:inputText>
              <p:message for="personName" display="text" showDetail="true" />

              <p:outputLabel
                for="PersonalAge"
                value="Age"
                style="font-size: 10pt"
              />
              <p:inputText
                id="PersonalAge"
                value="#{data.customer.age}"
                type="number"
                required="true"
                style="width: 280px"
              >
                <f:validateLongRange minimum="18" maximum="99" />
                <p:clientValidator event="keyup" />
                <p:clientValidator event="blur" />
              </p:inputText>
              <p:message for="PersonalAge" display="text" showDetail="true" />
              <p:outputLabel
                for="PersonalAddress"
                value="Address"
                style="font-size: 10pt"
              />
              <p:inputText
                id="PersonalAddress"
                value="#{data.customer.address}"
                type="text"
                required="true"
                style="width: 280px"
              >
                <f:validateLength minimum="8" />
                <p:clientValidator event="keyup" />
                <p:clientValidator event="blur" />
              </p:inputText>
              <p:message
                for="PersonalAddress"
                display="text"
                showDetail="true"
              />
              <h:form rendered="#{data.actionName eq 'Edit customer'}">
                <p:commandButton
                  value="Edit"
                  icon="fa fa-edit"
                  actionListener="#{logic.isEdit}"
                  update="table dialog-common"
                  oncomplete="PF('dialog-common').hide()"
                  ajax="false"
                  validateClient="true"
                />
              </h:form>
              <h:form rendered="#{data.actionName eq 'Add new customer'}">
                <p:commandButton
                  value="Confirm"
                  icon="ui-icon-check"
                  actionListener="#{logic.isAdd}"
                  update="table dialog-common"
                  oncomplete="PF('dialog-common').hide()"
                  ajax="false"
                  validateClient="true"
                />
              </h:form>
            </h:panelGrid>
          </h:form>
        </p:dialog>
      </ui:define>
    </ui:composition>
  </h:body>
</html>
