<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>

	<ui:composition template="/layouts/TaskTemplate-8.xhtml">


		<ui:define name="title">#{ivy.cms.co("/Label/headerForm")} </ui:define>
		<ui:define name="content">
			<h1>&#160;#{ivy.cms.co("/Label/headerForm")} - Case: (# #{data.promoteForm.caseId})</h1>
			<h1> </h1>
			<p:growl id="growl" showDetail="true" />
			<h:form id="promoteForm">

				<p:messages id="promoteMsg"></p:messages>
				<!-- No 'form field [app.Employee]' template found for field 'employee'. -->
				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/creator')}"
						for="creator" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:inputText value="#{data.promoteForm.creator}" id="creator"
						required="true"
						requiredMessage="#{ivy.cms.co('/Message/creatorRequiredMsg')}"
						readonly="true" />
				</div>
				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/dateSubmit')}"
						for="submitDate" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:calendar mask="true" id="submitDate" pattern="dd/MM/yyyy"
						required="true"
						requiredMessage="#{ivy.cms.co('/Message/dateSubmitRequiredMsg')}"
						value="#{data.promoteForm.dateSubmit}" effect="fade" showOn="both"
						disabled="true" autocomplete="off" />
				</div>

				<div class="ui-g-3">
					<p:outputLabel value="#{ivy.cms.co('/Label/comment')}"
						for="comment" />
				</div>

				<div class="ui-g-9 ui-fluid">
					<p:inputTextarea id="comment" required="true"
						requiredMessage="#{ivy.cms.co('/Label/comment')}"
						value="#{data.promoteForm.comment}" readonly="true" />
				</div>
			</h:form>
			<!-- <ic:app.EmployeeDialogComponent   /> -->

			<h1>#{ivy.cms.co("/Label/headerOfTable")}</h1>
			<h:form id="tableForm">
				<p:dataTable border="1" var="employee" value="#{data.promoteForm.employees}"
					id="table">
					<p:column headerText="#{ivy.cms.co('/headerTable/name')}" id="name"
						filterBy="#{employee.name}" sortBy="#{employee.name}">
						<h:outputText id="text3" value="#{employee.name}"></h:outputText>
					</p:column>
					<p:column id="age" sortBy="#{employee.age}"
						headerText="#{ivy.cms.co('/headerTable/age')}"
						filterBy="#{employee.age}">
						<h:outputText id="text4" value="#{employee.age}"></h:outputText>
					</p:column>
					<p:column id="column5"
						headerText="#{ivy.cms.co('/headerTable/team')}"
						filterBy="#{employee.team}" sortBy="#{employee.team}">
						<h:outputText id="text5" value="#{employee.team}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>